# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Chroma Database
data/chroma_db/

# Extracted images
data/images/

# Uploaded PDFs
data/pdfs/

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db